<?xml version="1.0" encoding="UTF-8"?>
<Configuration strict="true" status="WARN">
    <Properties>
        <property name="logging.dir">D:\apps\logs\rentrolldata</property>
        <property name="log.level">debug</property>
        <property name="filename.pattern">rentrolldata</property>
        <property name="file.pattern">%d{yyyy-MM-dd HH:mm:ss.SSS} - %level | [%t] | %C{-10} :: %M - %m %ex%n</property>
        <property name="console.pattern">%d{yyyy-MM-dd HH:mm:ss.SSS} - %highlight{%level | [%t] | %C{-10} :: %M - %m %ex%n}
        </property>
    </Properties>

    <Appenders>
        <Appender type="Console" name="STDOUT">
            <Layout type="PatternLayout">
                <pattern>${console.pattern}</pattern>
            </Layout>
        </Appender>

        <RollingFile name="FILE"
                     fileName="${logging.dir}/${filename.pattern}.log"
                     filePattern="${logging.dir}/backup/${filename.pattern}/$${date:yyyy-MM}/${filename.pattern}-%d{ddMMyyyy}-%i.log.gz"
                     ignoreExceptions="false">
            <PatternLayout>
                <Pattern>${file.pattern}</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="25 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="${log.level}">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="FILE"/>
        </Root>
    </Loggers>
</Configuration>
